header.header
  nav.nav.nav--tours
    img(src='/img/earthbound.png' alt='Earthbound logo')  
    a.nav__el(href='/') Earthbound
  nav.nav.nav--user
    if user
      a.nav__el.nav__el--logout Logout
      a.nav__el(href='#')
        img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
        span=user.name.split(' ')[0]
    else
      a.nav__el(href='/login') Log in
      a.nav__el.nav__el--cta(href='signup') Sign up