header.header
  nav.nav.nav--tours
    img(src='/img/earthbound.png' alt='Earthbound logo')  
    a.nav__el(href='/') Earthbound
  nav.nav.nav--user
    //- a.nav__el(href='#') My bookings
    //- a.nav__el(href='#')
    //-   img.nav__user-img(src='/img/user.jpg' alt='User photo')
    //-   span Tu
    a.nav__el(href='/login') Log in
    a.nav__el.nav__el--cta Sign up